<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dorianscholz.openlibre">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- To allow the actions related to the calendar -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!--
 If we add bar or restaurants, the position will be neccesary !
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".OpenLibre"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light"
        android:usesCleartextTraffic="true">

        <activity android:name=".service.SensorExpiresNotification" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.dorianscholz.openlibre.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.AlgorithmActivity" />
        <activity
            android:name=".ui.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.Splash.NoActionBar" />
        <activity
            android:name=".ui.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ui.ItemListActivity"
            android:theme="@style/AppTheme.Splash.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.dorianscholz.openlibre.ui.ItemListActivity" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/action_settings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.DataVisualizationActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>